<section class="game-container">
  <h1 class="title"> {{ title }} </h1>

  <div class="container">
    <app-modal [winner]="winner" 
    (modalAction)="onModalAction($event)" 
    *ngIf="isModalOpen">
    </app-modal>

    <app-table [cells]="cells" 
    [isGameOver]="isGameOver"
    (tableAction)="onTableAction($event)">
    </app-table>

    <app-score-table 
    [playerOneScore]="playerOneScore" 
    [playerTwoScore]="playerTwoScore"> 
   </app-score-table>
  </div>

  <router-outlet></router-outlet>
</section>
