.row {
  &.score-row {
    .score {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 3vw;
      padding: 40px;
      font-family: RobotoRegular;
      color: #1a1313b8;

      .title {
        font-size: calc(16px + 1vw);
        font-family: RobotoMedium;
        text-align: center;
      }

      .number {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
